{% load static %}

<div class="navbar-outer navbar-template-outer">
  <div id="header-template-holder">
    <div class="header-template-inner">
      <div data-elementor-type="wp-post" data-elementor-id="1954" class="elementor elementor-1954">
        <div class="elementor-element elementor-element-c2b813e e-flex e-con-boxed e-con e-parent" data-id="c2b813e" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-77889e9 e-con-full e-flex e-con e-child" data-id="77889e9" data-element_type="container">
              <div class="elementor-element elementor-element-9cfab6a elementor-widget elementor-widget-foxiz-current-date" data-id="9cfab6a" data-element_type="widget" data-widget_type="foxiz-current-date.default">
                <div class="elementor-widget-container">
                  <span class="current-date">Wednesday, 7 Aug 2024</span>
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-470139e e-con-full e-flex e-con e-child" data-id="470139e" data-element_type="container">
              <div class="elementor-element elementor-element-e735c31 elementor-widget elementor-widget-text-editor" data-id="e735c31" data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                  <style>
                    /*! elementor - v3.23.0 - 15-07-2024 */
                    .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                      background-color: #69727d;
                      color: #fff;
                    }

                    .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                      color: #69727d;
                      border: 3px solid;
                      background-color: transparent;
                    }

                    .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                      margin-top: 8px;
                    }

                    .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                      width: 1em;
                      height: 1em;
                    }

                    .elementor-widget-text-editor .elementor-drop-cap {
                      float: left;
                      text-align: center;
                      line-height: 1;
                      font-size: 50px;
                    }

                    .elementor-widget-text-editor .elementor-drop-cap-letter {
                      display: inline-block;
                    }
                  </style>Exclusive insights, data, and analysis for financial market experts.
                </div>
              </div>
              <div class="elementor-element elementor-element-8b44a12 elementor-widget elementor-widget-button" data-id="8b44a12" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a class="elementor-button elementor-button-link elementor-size-sm" href="" target="_blank" rel="nofollow">
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">Explore Now</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-9cd7605 e-section-sticky e-flex e-con-boxed e-con e-parent" data-id="9cd7605" data-element_type="container" data-settings="{&quot;header_sticky&quot;:&quot;section-sticky&quot;}">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-db581bf e-con-full e-flex e-con e-child" data-id="db581bf" data-element_type="container">
              <div class="elementor-element elementor-element-8068ba1 elementor-widget elementor-widget-foxiz-logo" data-id="8068ba1" data-element_type="widget" data-widget_type="foxiz-logo.default">
                <div class="elementor-widget-container">
                  <div class="the-logo">
                    <a href="{% url 'home' %}">
                      <img loading="eager" decoding="async" data-mode="default" width="364" height="120" src="{% static 'wp-content/uploads/sites/2/2024/07/default-logo.png' %}" alt="Press Pulse">
                      <img loading="eager" decoding="async" data-mode="dark" width="364" height="120" src="{% static 'wp-content/uploads/sites/2/2024/07/light-logo.png' %}" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-7dff991 no is-divider-0 elementor-widget elementor-widget-foxiz-navigation" data-id="7dff991" data-element_type="widget" data-widget_type="foxiz-navigation.default">
                <div class="elementor-widget-container">
                  <nav id="site-navigation" class="main-menu-wrap template-menu" aria-label="main menu">
                    <ul id="menu-main" class="main-menu rb-menu large-menu" itemscope="" itemtype="">
                      <li id="menu-item-2571" class="{% if request.resolver_match.view_name == 'home' %} menu-item {% endif %} menu-item-type-post_type menu-item-object-page menu-item-home  page_item page-item-2158 current_page_item menu-item-2571">
                        <a href="{% url 'home' %}" aria-current="page">
                          <span>Home</span></a>
                      </li>
                      {% if categories %}
                        {% include "components/news/categories.html" %}
                      {% endif %}
                      <li id="menu-item-2556" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2556">
                        <a href="#">
                          <span>Pages</span></a>
                        <ul class="sub-menu" style="background-color: #fff;">
                          <li id="menu-item-2570" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2570">
                            <a href="contact/index.htm">
                              <span>Contact US</span></a>
                          </li>
                          <li id="menu-item-2558" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2558">
                            <a href="index-1.htm?s=a">
                              <span>Search Page</span></a>
                          </li>
                          <li id="menu-item-2557" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2557">
                            <a href="https://foxiz.themeruby.com/presspulse/404-page">
                              <span>404 Page</span></a>
                          </li>
                        </ul>
                      </li>
                      <li id="menu-item-2569" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2569">
                        <a href="blog/index.htm">
                          <span>Blog</span></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-e46df94 e-con-full e-flex e-con e-child" data-id="e46df94" data-element_type="container">
              <div class="elementor-element elementor-element-5e2fe87 elementor-widget elementor-widget-button" data-id="5e2fe87" data-element_type="widget" data-widget_type="button.default">
                <div class="elementor-widget-container">
                  <div class="elementor-button-wrapper">
                    <a class="elementor-button elementor-button-link elementor-size-sm" href="read-history/index.htm">
                      <span class="elementor-button-content-wrapper">
                        <span class="elementor-button-text">My News</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-e6d1ea2 elementor-widget elementor-widget-foxiz-login-icon" data-id="e6d1ea2" data-element_type="widget" data-widget_type="foxiz-login-icon.default">
                <div class="elementor-widget-container">
                  <div class="wnav-holder widget-h-login header-dropdown-outer">
                    <a href="" class="login-toggle is-login header-element" data-title="Sign In" aria-label="Sign In">
                      <span class="login-icon-svg"></span></a>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-307d0b5 elementor-widget elementor-widget-foxiz-search-icon" data-id="307d0b5" data-element_type="widget" data-widget_type="foxiz-search-icon.default">
                <div class="elementor-widget-container">
                  <div class="wnav-holder w-header-search header-dropdown-outer">
                    <a href="#" data-title="Search" class="icon-holder header-element search-btn search-trigger" aria-label="search">
                      <span class="search-icon-svg"></span>
                    </a>
                    <div class="header-dropdown">
                      <div class="header-search-form is-icon-layout">
                        <form method="get" action="https://foxiz.themeruby.com/presspulse/" class="rb-search-form live-search-form" data-search="post" data-limit="3" data-follow="0" data-tax="category" data-dsource="0" data-ptype="">
                          <div class="search-form-inner">
                            <span class="search-icon">
                              <span class="search-icon-svg"></span></span><span class="search-text"><input type="text" class="field" placeholder="Search Headlines, News..." value="" name="s"></span><span class="rb-search-submit"><input type="submit" value="Search">
                              <i class="rbi rbi-cright" aria-hidden="true"></i>
                            </span>
                            <span class="live-search-animation rb-loader"></span>
                          </div>
                          <div class="live-search-response"></div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="elementor-element elementor-element-abc2a26 elementor-widget elementor-widget-foxiz-dark-mode-toggle" data-id="abc2a26" data-element_type="widget" data-widget_type="foxiz-dark-mode-toggle.default">
                <div class="elementor-widget-container">
                  <div class="dark-mode-toggle-wrap">
                    <div class="dark-mode-toggle">
                      <span class="dark-mode-slide">
                        <i class="dark-mode-slide-btn mode-icon-dark" data-title="Switch to Light">
                          <svg class="svg-icon svg-mode-dark" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                            <path fill="currentColor" d="M507.681,209.011c-1.297-6.991-7.324-12.111-14.433-12.262c-7.104-0.122-13.347,4.711-14.936,11.643
 c-15.26,66.497-73.643,112.94-141.978,112.94c-80.321,0-145.667-65.346-145.667-145.666c0-68.335,46.443-126.718,112.942-141.976
 c6.93-1.59,11.791-7.826,11.643-14.934c-0.149-7.108-5.269-13.136-12.259-14.434C287.546,1.454,271.735,0,256,0
 C187.62,0,123.333,26.629,74.98,74.981C26.628,123.333,0,187.62,0,256s26.628,132.667,74.98,181.019
 C123.333,485.371,187.62,512,256,512s132.667-26.629,181.02-74.981C485.372,388.667,512,324.38,512,256
 C512,240.278,510.546,224.469,507.681,209.011z"></path>
                          </svg>
                        </i>
                        <i class="dark-mode-slide-btn mode-icon-default" data-title="Switch to Dark">
                          <svg class="svg-icon svg-mode-light" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 232.447 232.447">
                            <path fill="currentColor" d="M116.211,194.8c-4.143,0-7.5,3.357-7.5,7.5v22.643c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5V202.3
 C123.711,198.157,120.354,194.8,116.211,194.8z"></path>
                            <path fill="currentColor" d="M116.211,37.645c4.143,0,7.5-3.357,7.5-7.5V7.505c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v22.641
 C108.711,34.288,112.068,37.645,116.211,37.645z"></path>
                            <path fill="currentColor" d="M50.054,171.78l-16.016,16.008c-2.93,2.929-2.931,7.677-0.003,10.606c1.465,1.466,3.385,2.198,5.305,2.198
 c1.919,0,3.838-0.731,5.302-2.195l16.016-16.008c2.93-2.929,2.931-7.677,0.003-10.606C57.731,168.852,52.982,168.851,50.054,171.78
 z"></path>
                            <path fill="currentColor" d="M177.083,62.852c1.919,0,3.838-0.731,5.302-2.195L198.4,44.649c2.93-2.929,2.931-7.677,0.003-10.606
 c-2.93-2.932-7.679-2.931-10.607-0.003l-16.016,16.008c-2.93,2.929-2.931,7.677-0.003,10.607
 C173.243,62.12,175.163,62.852,177.083,62.852z"></path>
                            <path fill="currentColor" d="M37.645,116.224c0-4.143-3.357-7.5-7.5-7.5H7.5c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h22.645
 C34.287,123.724,37.645,120.366,37.645,116.224z"></path>
                            <path fill="currentColor" d="M224.947,108.724h-22.652c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h22.652c4.143,0,7.5-3.357,7.5-7.5
 S229.09,108.724,224.947,108.724z"></path>
                            <path fill="currentColor" d="M50.052,60.655c1.465,1.465,3.384,2.197,5.304,2.197c1.919,0,3.839-0.732,5.303-2.196c2.93-2.929,2.93-7.678,0.001-10.606
 L44.652,34.042c-2.93-2.93-7.679-2.929-10.606-0.001c-2.93,2.929-2.93,7.678-0.001,10.606L50.052,60.655z"></path>
                            <path fill="currentColor" d="M182.395,171.782c-2.93-2.929-7.679-2.93-10.606-0.001c-2.93,2.929-2.93,7.678-0.001,10.607l16.007,16.008
 c1.465,1.465,3.384,2.197,5.304,2.197c1.919,0,3.839-0.732,5.303-2.196c2.93-2.929,2.93-7.678,0.001-10.607L182.395,171.782z"></path>
                            <path fill="currentColor" d="M116.22,48.7c-37.232,0-67.523,30.291-67.523,67.523s30.291,67.523,67.523,67.523s67.522-30.291,67.522-67.523
 S153.452,48.7,116.22,48.7z M116.22,168.747c-28.962,0-52.523-23.561-52.523-52.523S87.258,63.7,116.22,63.7
 c28.961,0,52.522,23.562,52.522,52.523S145.181,168.747,116.22,168.747z"></path>
                          </svg>
                        </i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-a73be22 e-flex e-con-boxed e-con e-parent" data-id="a73be22" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-e9bda06 is-divider-pipe elementor-widget elementor-widget-foxiz-quick-links" data-id="e9bda06" data-element_type="widget" data-widget_type="foxiz-quick-links.default">
              <div class="elementor-widget-container">
                <div id="uid_e9bda06" class="block-wrap block-qlinks qlayout-1 effect-color yes-nowrap qlinks-scroll meta-s-dot">
                  {% if tags %}
                    {% include "components/news/tags.html" %}
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-cec1edb elementor-widget elementor-widget-foxiz-social-list" data-id="cec1edb" data-element_type="widget" data-widget_type="foxiz-social-list.default">
              <div class="elementor-widget-container">
                <div class="header-social-list">
                  <div class="e-social-holder">
                    <a class="social-link-youtube" aria-label="YouTube" data-title="YouTube" href="#" target="_blank" rel="noopener nofollow">
                      <i class="rbi rbi-youtube" aria-hidden="true"></i>
                    </a>
                    <a class="social-link-google-news" aria-label="Google News" data-title="Google News" href="#" target="_blank" rel="noopener nofollow">
                      <i class="rbi rbi-gnews" aria-hidden="true"></i>
                    </a>
                    <a class="social-link-medium" aria-label="Medium" data-title="Medium" href="#" target="_blank" rel="noopener nofollow">
                      <i class="rbi rbi-medium" aria-hidden="true"></i>
                    </a>
                    <a class="social-link-flipboard" aria-label="flipboard" data-title="Flipboard" href="#" target="_blank" rel="noopener nofollow">
                      <i class="rbi rbi-flipboard" aria-hidden="true"></i>
                    </a>
                    <a class="social-link-rss" aria-label="Rss" data-title="Rss" href="#" target="_blank" rel="noopener nofollow">
                      <i class="rbi rbi-rss" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="header-mobile" class="header-mobile">
      <div class="header-mobile-wrap">
        <div class="mbnav edge-padding">
          <div class="navbar-left">
            <div class="mobile-logo-wrap is-image-logo site-branding">
              <a href="{% url 'home' %}" title="Press Pulse">
                <img class="logo-default" data-mode="default" height="84" width="100" src="{% static 'wp-content/uploads/sites/2/2024/07/m-logo.png' %}" alt="Press Pulse" decoding="async" loading="eager"><img class="logo-dark" data-mode="dark" height="84" width="100" src="{% static 'wp-content/uploads/sites/2/2024/07/ml-logo.png' %}" alt="Press Pulse" decoding="async" loading="eager">
              </a>
            </div>
          </div>
          <div class="navbar-right">
            <a href="#" class="mobile-menu-trigger mobile-search-icon" aria-label="search">
              <span class="search-icon-svg"></span></a>
            <div class="dark-mode-toggle-wrap">
              <div class="dark-mode-toggle">
                <span class="dark-mode-slide">
                  <i class="dark-mode-slide-btn mode-icon-dark" data-title="Switch to Light">
                    <svg class="svg-icon svg-mode-dark" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                      <path fill="currentColor" d="M507.681,209.011c-1.297-6.991-7.324-12.111-14.433-12.262c-7.104-0.122-13.347,4.711-14.936,11.643
 c-15.26,66.497-73.643,112.94-141.978,112.94c-80.321,0-145.667-65.346-145.667-145.666c0-68.335,46.443-126.718,112.942-141.976
 c6.93-1.59,11.791-7.826,11.643-14.934c-0.149-7.108-5.269-13.136-12.259-14.434C287.546,1.454,271.735,0,256,0
 C187.62,0,123.333,26.629,74.98,74.981C26.628,123.333,0,187.62,0,256s26.628,132.667,74.98,181.019
 C123.333,485.371,187.62,512,256,512s132.667-26.629,181.02-74.981C485.372,388.667,512,324.38,512,256
 C512,240.278,510.546,224.469,507.681,209.011z"></path>
                    </svg>
                  </i>
                  <i class="dark-mode-slide-btn mode-icon-default" data-title="Switch to Dark">
                    <svg class="svg-icon svg-mode-light" aria-hidden="true" role="img" focusable="false" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 232.447 232.447">
                      <path fill="currentColor" d="M116.211,194.8c-4.143,0-7.5,3.357-7.5,7.5v22.643c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5V202.3
 C123.711,198.157,120.354,194.8,116.211,194.8z"></path>
                      <path fill="currentColor" d="M116.211,37.645c4.143,0,7.5-3.357,7.5-7.5V7.505c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v22.641
 C108.711,34.288,112.068,37.645,116.211,37.645z"></path>
                      <path fill="currentColor" d="M50.054,171.78l-16.016,16.008c-2.93,2.929-2.931,7.677-0.003,10.606c1.465,1.466,3.385,2.198,5.305,2.198
 c1.919,0,3.838-0.731,5.302-2.195l16.016-16.008c2.93-2.929,2.931-7.677,0.003-10.606C57.731,168.852,52.982,168.851,50.054,171.78
 z"></path>
                      <path fill="currentColor" d="M177.083,62.852c1.919,0,3.838-0.731,5.302-2.195L198.4,44.649c2.93-2.929,2.931-7.677,0.003-10.606
 c-2.93-2.932-7.679-2.931-10.607-0.003l-16.016,16.008c-2.93,2.929-2.931,7.677-0.003,10.607
 C173.243,62.12,175.163,62.852,177.083,62.852z"></path>
                      <path fill="currentColor" d="M37.645,116.224c0-4.143-3.357-7.5-7.5-7.5H7.5c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h22.645
 C34.287,123.724,37.645,120.366,37.645,116.224z"></path>
                      <path fill="currentColor" d="M224.947,108.724h-22.652c-4.143,0-7.5,3.357-7.5,7.5s3.357,7.5,7.5,7.5h22.652c4.143,0,7.5-3.357,7.5-7.5
 S229.09,108.724,224.947,108.724z"></path>
                      <path fill="currentColor" d="M50.052,60.655c1.465,1.465,3.384,2.197,5.304,2.197c1.919,0,3.839-0.732,5.303-2.196c2.93-2.929,2.93-7.678,0.001-10.606
 L44.652,34.042c-2.93-2.93-7.679-2.929-10.606-0.001c-2.93,2.929-2.93,7.678-0.001,10.606L50.052,60.655z"></path>
                      <path fill="currentColor" d="M182.395,171.782c-2.93-2.929-7.679-2.93-10.606-0.001c-2.93,2.929-2.93,7.678-0.001,10.607l16.007,16.008
 c1.465,1.465,3.384,2.197,5.304,2.197c1.919,0,3.839-0.732,5.303-2.196c2.93-2.929,2.93-7.678,0.001-10.607L182.395,171.782z"></path>
                      <path fill="currentColor" d="M116.22,48.7c-37.232,0-67.523,30.291-67.523,67.523s30.291,67.523,67.523,67.523s67.522-30.291,67.522-67.523
 S153.452,48.7,116.22,48.7z M116.22,168.747c-28.962,0-52.523-23.561-52.523-52.523S87.258,63.7,116.22,63.7
 c28.961,0,52.522,23.562,52.522,52.523S145.181,168.747,116.22,168.747z"></path>
                    </svg>
                  </i>
                </span>
              </div>
            </div>
            <div class="mobile-toggle-wrap">
              <a href="#" class="mobile-menu-trigger" aria-label="mobile trigger">
                <span class="burger-icon">
                  <span></span>
                  <span></span>
                  <span></span></span>
              </a>
            </div>
          </div>
        </div>
        <div class="mobile-qview">
          <ul id="menu-mobile-quick-access" class="mobile-qview-inner">
            {% for cat in categories %}
              <li id="menu-item-259{{cat.pk}}" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-259{{cat.pk}}">
                <a href="{{cat.get_absolute_url}}">
                  <span>{{cat.name|title}}</span></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="mobile-collapse">
        <div class="collapse-holder">
          <div class="collapse-inner">
            <div class="mobile-search-form edge-padding">
              <div class="header-search-form is-form-layout">
                <span class="h5">Search</span>
                <form method="get" action="https://foxiz.themeruby.com/presspulse/" class="rb-search-form" data-search="post" data-limit="0" data-follow="0" data-tax="category" data-dsource="0" data-ptype="">
                  <div class="search-form-inner">
                    <span class="search-icon">
                      <span class="search-icon-svg"></span></span><span class="search-text"><input type="text" class="field" placeholder="Search Headlines, News..." value="" name="s"></span><span class="rb-search-submit"><input type="submit" value="Search">
                      <i class="rbi rbi-cright" aria-hidden="true"></i>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <nav class="mobile-menu-wrap edge-padding">
              <ul id="mobile-menu" class="mobile-menu">
                <li id="menu-item-2530" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-2530">
                  <a href="#">
                    <span>Pages</span></a>
                  <ul class="sub-menu">
                    <li id="menu-item-2578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2158 current_page_item menu-item-2578">
                      <a href="index.htm" aria-current="page">
                        <span>Home</span></a>
                    </li>
                    <li id="menu-item-2579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2579">
                      <a href="blog/index.htm">
                        <span>Blog Index</span></a>
                    </li>
                    <li id="menu-item-2580" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2580">
                      <a href="contact/index.htm">
                        <span>Contact Us</span></a>
                    </li>
                    <li id="menu-item-2539" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2539">
                      <a href="https://foxiz.themeruby.com/buzzstream/?s=a">
                        <span>Search Page</span></a>
                    </li>
                    <li id="menu-item-2554" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2554">
                      <a href="https://foxiz.themeruby.com/buzzstream/404">
                        <span>404 Page</span></a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-2531" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2531">
                  <a href="#">
                    <span>Personalized</span></a>
                  <ul class="sub-menu">
                    <li id="menu-item-2581" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2581">
                      <a href="read-history/index.htm">
                        <span>Read History</span></a>
                    </li>
                  </ul>
                </li>
                <li id="menu-item-2532" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2532">
                  <a href="#">
                    <span>Categories</span></a>
                  <ul class="sub-menu">
                    <li id="menu-item-2534" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2534">
                      <a href="category/business/index.htm">
                        <span>Business</span></a>
                    </li>
                    <li id="menu-item-2535" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2535">
                      <a href="category/politics/index.htm">
                        <span>Politics</span></a>
                    </li>
                    <li id="menu-item-2537" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2537">
                      <a href="category/technology/index.htm">
                        <span>Technology</span></a>
                    </li>
                    <li id="menu-item-2533" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2533">
                      <a href="category/environment/index.htm">
                        <span>Environment</span></a>
                    </li>
                    <li id="menu-item-2536" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-2536">
                      <a href="category/finance/index.htm">
                        <span>Finance</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div class="collapse-sections">
              <div class="mobile-login">
                <span class="mobile-login-title h6">Have an existing account?</span>
                <a href="" class="login-toggle is-login is-btn">Sign In</a>
              </div>
              <div class="mobile-socials">
                <span class="mobile-social-title h6">Follow US</span>
                <a class="social-link-youtube" aria-label="YouTube" data-title="YouTube" href="#" target="_blank" rel="noopener nofollow">
                  <i class="rbi rbi-youtube" aria-hidden="true"></i>
                </a>
                <a class="social-link-google-news" aria-label="Google News" data-title="Google News" href="#" target="_blank" rel="noopener nofollow">
                  <i class="rbi rbi-gnews" aria-hidden="true"></i>
                </a>
                <a class="social-link-medium" aria-label="Medium" data-title="Medium" href="#" target="_blank" rel="noopener nofollow">
                  <i class="rbi rbi-medium" aria-hidden="true"></i>
                </a>
                <a class="social-link-flipboard" aria-label="flipboard" data-title="Flipboard" href="#" target="_blank" rel="noopener nofollow">
                  <i class="rbi rbi-flipboard" aria-hidden="true"></i>
                </a>
                <a class="social-link-rss" aria-label="Rss" data-title="Rss" href="#" target="_blank" rel="noopener nofollow">
                  <i class="rbi rbi-rss" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="collapse-footer">
              <div class="collapse-copyright">© 2022 Foxiz News Network. Ruby Design Company. All Rights Reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>